.iconShowcase {
  display: grid;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  grid-template-rows: repeat(2, minmax(40px, 1fr));
  column-gap: 4.2%;
  row-gap: 8.79%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.iconShowcaseBtn,
.iconShowcaseBtnDisabled {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
}

.iconShowcaseBtnDisabled {
  cursor: not-allowed;
}

.iconShowcaseBtn:hover::after,
.iconShowcaseBtn:focus::after,
.iconShowcaseBtnDisabled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: 0.3;
}

.iconShowcaseBtnDisabled::after {
  background-color: red;
}

.iconShowcaseBtnDisabled:hover::after,
.iconShowcaseBtnDisabled:focus::after {
  opacity: 0.2;
}

@media (orientation: landscape) {
  .iconShowcase {
    grid-template-columns: repeat(2, minmax(40px, 1fr));
    grid-template-rows: repeat(4, minmax(40px, 1fr));
    column-gap: 11.73%;
    row-gap: 5.58%;
  }
}
