.iconShowcase {
  display: grid;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  height: 30%;
  width: 90%;
  margin: 10px auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  background-color: #fff;
  border: none;
  padding: 0;
}

.iconInner {
  height: 100%;
  width: 100%;
}
