.iconShowcase {
  display: grid;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  grid-template-rows: repeat(2, minmax(40px, 1fr));
  column-gap: 4.12%;
  row-gap: 8.78%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
}

.iconInner {
  height: 100%;
  width: 100%;
}
