.iconSelect {
  position: relative;
  background-color: #BAD4AA;;
  border: solid 1px #BAD4AA;;
  height: 100%;
}

.heading {
  margin: 5px 0;
  color: #f5faf0;
  font-weight: 300;
}

.highlight {
  font-weight: 800;
  color: #fff;
}

.button {
  height: 40px;
  background-color: #7be0ad;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-in-out;
  color: #fff;
  cursor: pointer;
}

.confirmButtonUser {
  @extend .button;
  width : 90%;
  margin: 0 auto;
}

.confirmButtonComp {
  @extend .button;
  width : 80%;
  background-color: #7be0ad;
}

.backButton {
  @extend .button;
  width : 18.5%;
  background-color: #F9AB55

}

.buttonRow {
  display : flex;
  justify-content: space-between;
  width : 90%;
  margin : 10px auto;
}