.button {
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: #7be0ad;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: #fff;
  font-family: "BioRhyme";
  font-size: 14px;
}

.secondaryColour {
  background-color: #f9ab55;
}

.noLeftMargin {
  margin-left: 0;
}

.noRightMargin {
  margin-right: 0;
}

.hidden {
  display: none;
}

.span3 {
  grid-column-start: span 3;
}
