.grid {
  position: relative;
  min-height: 300px;
  height: calc(100vw - 4.167vh);
  width: calc(100vw - 4.167vh);
  display: grid;
  grid-gap: 1%;
  margin: 0 auto 2.083vh;
}

@for $i from 1 through 3 {
  $value: 2 * $i + 1;
  .grid-#{$value} {
    @extend .grid;
    grid-template-columns: repeat(#{$value}, 1fr);
  }
}

.outcome {
  position: absolute;
  top: 40%;
  height: 20%;
  left: 1%;
  width: 98%;
  border: none;
  background-color: #7be0ad;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font-size: 20px;
  color: #fff;
}

@media (orientation: portrait) {
  .grid {
    max-height: 61.65vh;
    max-width: 61.65vh;
  }
}

@media (orientation: landscape) {
  .grid {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}

@media (orientation: landscape) and (max-height: 320px),
  (orientation: landscape) and (max-width: 480px) {
  .grid {
    height: 300px;
    width: 300px;
    margin: 0;
  }
}

@media (orientation: portait) and (min-aspect-ratio: 31/48) {
  .grid {
    height: calc(100vh - 170px);
    width: calc(100vh - 170px);
    max-height: calc(100vw - 4.167vh);
    max-width: calc(100vw - 4.167vh);
    border: solid 1px red;
  }
}

@media (orientation: portait) and (max-width: 320px),
  (orientation: portait) and (max-height: 480px) {
  .grid {
    height: 300px;
    max-height: initial;
    width: 300px;
    max-width: initial;
    margin: 0 auto 10px;
  }
}
