.gameScreenWrapper {
  height: 100%;
  width: 100%;
  padding: 2.083vh;
}

.gameScreen {
  //padding: 2.083vh;
}

@media (orientation: landscape) {
  .gameScreenWrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 2.08%;
    min-height: 300px;
    height: 63.47vw;
    max-height: 99vh;
    min-width: 460px;
    width: 146.47vh;
    max-width: 94.07vw;
  }

  .gameScreen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "grid grid preview"
      "grid grid controls"
      "grid grid controls";
    row-gap: 3.33%;
    column-gap: 2.17%;
    height: 100%;
  }
}

@media (orientation: landscape) and (max-height: 320px),
  (orientation: landscape) and (max-width: 480px) {
  .gameScreen {
    grid-template-columns: 145px 145px 1fr;
    grid-template-rows: repeat(3, 93.333px);
    grid-gap: 10px;
    height: 300px;
  }

  .gameScreenWrapper {
    padding: 1% 0;
    height: 100%
  }
}

@media (orientation: portait) and (max-width: 320px),
  (orientation: portait) and (max-height: 480px) {
  .gameScreenWrapper {
    padding: 10px;
  }
}
