.iconEditor {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.canvas {
  float: left;
  height: 100%;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.canvasInner {
  height: 100%;
  width: 100%;
}
