html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "BioRhyme", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  text-align: center;
  height: 100%;
}

.appBody {
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 320px
}

.reactCSSTransitionGroup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms linear !important;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0.01;
  transition: opacity 200ms linear !important;
}

@media (orientation: landscape) {
  .heading {
    font-size: 5vh;
  }
}

@media (orientation: portrait) and (max-aspect-ratio: 500/1000) {
  .heading {
    font-size: 4vh;
  }
}

@media (orientation: portrait) and (min-aspect-ratio: 501/1000) {
  .heading {
    font-size: 5vh;
  }
}
