@import "../../../colours";

.svg {
  display: block;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
}

.black {
  fill: $black;
}

.grey {
  fill: $grey;
}

.darkRed {
  fill: $darkRed;
}

.lightRed {
  fill: $lightRed;
}

.orange {
  fill: $orange;
}

.yellow {
  fill: $yellow;
}

.darkGreen {
  fill: $darkGreen;
}

.lightBlue2 {
  fill: $lightBlue2;
}

.darkBlue2 {
  fill: $darkBlue2;
}

.lightPurple {
  fill: $lightPurple;
}

.white {
  fill: $white;
}

.silver {
  fill: $silver;
}

.brown {
  fill: $brown;
}

.pink {
  fill: $pink;
}

.gold {
  fill: $gold;
}

.almond {
  fill: $almond;
}

.lightGreen {
  fill: $lightGreen;
}

.lightBlue1 {
  fill: $lightBlue1;
}

.darkBlue1 {
  fill: $darkBlue1;
}

.purple {
  fill: $purple;
}
