.iconSelectWrapper {
  position: relative;
  background-color: #f8f9fa;
  border: solid 1px #f8f9fa;
  height: calc(150vw - 20px);
  max-height: calc(100vh - 20px);
  min-width: 300px;
  width: calc(66vh - 20px);
  max-width: calc(100vw - 20px);
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.iconSelect {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 7.5% 45% 30% 10%;
  row-gap: 2.5%;
  padding: 3.87%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #000000;
  font-weight: 300;
  font-size: calc(19px + 20 * ((100vw - 320px) / 280));
}

.highlight {
  font-weight: 800;
}

@media (orientation: portrait) and (min-width: 600px) {
  .heading {
    font-size: calc(43px + 10 * ((100vw - 600px) / 624));
  }
}

@media (orientation: landscape) {
  .iconSelectWrapper {
    height: 70vw;
    max-height: 100%;
    width: 100vw;
    max-width: 143vh;
  }

  .iconSelect {
    grid-template-rows: 7.5% 70% 14.78%;
    grid-template-columns: 75% 1fr;
    grid-template-areas:
      "header header"
      "editor showcase"
      "button button";
    row-gap: 3.86%;
    column-gap: 2.5%;
    padding: 2.5%;
  }

  .heading {
    grid-area: header;
    font-size: 25px;
  }
}

@media (orientation: landscape) and (min-height: 600px) {
  .heading {
    font-size: 40px;
  }
}

@media (orientation: landscape) and (min-height: 768px) and (min-width: 1024px) {
  .heading {
    font-size: 50px;
  }
}
