.icon {
  height: 55px;
  width: 55px;
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.highlight {    
    font-weight: 800;
    color: #fff;
    font-size : 30px;
    color : #889b7c;
}