.flipperContainer {
  perspective : 3000px;
  height : calc(100vw - 90px);
  width : calc(100vw - 90px);
  margin : 20px auto;
}

.flipper {
  height : 100%;
  width: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height : 100%;
  width : 100%;

}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  transform: rotateY(180deg);
}
