.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 10%;
  column-gap: 2.08%;
  min-height: 90px;
  width: 100%;
  margin: 0 auto;
}

.button {
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: #7be0ad;
  color: #000;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-family: "BioRhyme";
  font-size: calc(16px + 10 * ((100vw - 320px) / 280));
}

.button:hover,
.button:focus {
  background-color: #8ceabb;
}

.settingsBtn {
  @extend .button;
  background-color: #f9ab55;
  grid-column: span 3;
}

.settingsBtn:hover,
.settingsBtn:focus {
  background-color: #f4b269;
}

@media (orientation: landscape) {
  .controls {
    display: grid;
    grid-area: controls;
    grid-template-rows: repeat(4, 21.98%);
    grid-template-columns: 100%;
    row-gap: 3.995%;
    position: relative;
    top: -21%;
    width: 100%;
    height: 121%;
  }

  .settingsBtn {
    grid-column: span 1;
  }
}
