.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.083vh;
  min-height: 90px;
  height: 18.75vh;
  width: calc(100vw - 4.167vh);
  margin: 0 auto;
}

.button {
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: #7be0ad;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  font-family: "BioRhyme";
  font-size: calc(16px + 1vh);
}

.settingsBtn {
  @extend .button;
  width: 100%;
  grid-column: span 3;
  background-color: #f9ab55;
}

@media (orientation: landscape) {
  .controls {
    display: flex;
    flex-direction: column;
    grid-area: controls;
    position: relative;
    top: -25.33%;
    width: 100%;
    height: 125.33%;
    margin: 0;
  }

  .button {
    display: block;
    height: 23%;
    margin: 3.5% 0;
  }
}

@media (orientation: landscape) and (max-height: 320px),
  (orientation: landscape) and (max-width: 480px) {
  .controls {
    position: relative;
    top: -53.333px;
    width: 100%;
    height: 250px;
    margin: 0;
  }

  .button {
    display: block;
    height: 23%;
    margin: 5px 0;
  }
}

@media (orientation: portrait) {
  .controls {
    max-width: 61.65vh;
  }
}

@media (orientation: portait) and (min-aspect-ratio: 31/48) {
  .controls {
    width: calc(100vh - 170px);
    max-width: calc(100vw - 4.167vh);
  }
}

@media (orientation: portait) and (max-width: 320px),
  (orientation: portait) and (max-height: 480px) {
  .controls {
    grid-gap: 10px;
    height: 90px;
    width: 300px;
  }
}
