@import "../../colours";

.palette {
  height: 100%;
  width: 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, 1fr);
  float: right;
}

.colour {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  cursor: pointer;
}

.colour:hover {
  border-color: yellow;
}

.yellow:hover {
  border-color: #fff;
}

.black {
  background-color: $black;
}

.grey {
  background-color: $grey;
}

.darkRed {
  background-color: $darkRed;
}

.lightRed {
  background-color: $lightRed;
}

.orange {
  background-color: $orange;
}

.yellow {
  background-color: $yellow;
}

.darkGreen {
  background-color: $darkGreen;
}

.lightBlue2 {
  background-color: $lightBlue2;
}

.darkBlue2 {
  background-color: $darkBlue2;
}

.lightPurple {
  background-color: $lightPurple;
}

.white {
  background-color: $white;
}

.silver {
  background-color: $silver;
}

.brown {
  background-color: $brown;
}

.pink {
  background-color: $pink;
}

.gold {
  background-color: $gold;
}

.almond {
  background-color: $almond;
}

.lightGreen {
  background-color: $lightGreen;
}

.lightBlue1 {
  background-color: $lightBlue1;
}

.darkBlue1 {
  background-color: $darkBlue1;
}

.purple {
  background-color: $purple;
}
