.iconPreviewWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  height: 100%;
}

.icon {
  width: 15.21%;
  height: 100%;
}

.highlight {
  font-weight: 800;
  color: #000;
  font-size: 30px;
}

@media (orientation: landscape) {
  .iconPreviewWrapper {
    grid-area: preview;
    width: 100%;
    margin: 0;
    height: 54.7%;
  }

  .icon {
    height: 100%;
    width: 35%;
  }

  .highlight {
    font-size: 20px;
  }
}
