.app {
  text-align: center;
  height: 100%;
}

.appHeader {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  margin: 0;
}

.iconPreviewWrapper {
    display : flex;
    width: calc(100vw - 90px);
    margin : 20px auto;
    justify-content : space-between;
}

.icon {
    height : 40px;
    width : 40px;
    min-height: 40px;
    min-width: 40px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    cursor: pointer;
}
