.app {
  text-align: center;
  height: 100%;
  position: relative;
}

.appHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #889b7c;
  font-size: calc(10px + 1.5vmin);
  color: white;
  height: 10%;
}

.heading {
  margin: 0;
}

.notHeader {
  position: relative;
  display: inline-block;
  height: 90%;
  width: 100%;
}

.iconSelectFlipperWrapper {
  position: absolute;
  z-index: 1;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
  transition: transform 250ms linear;
}

.removeIconSelect {
  transform: translate(-150%);
}

.iconPreviewWrapper {
  display: flex;
  width: calc(100vw - 90px);
  margin: 15px auto;
  justify-content: space-between;
  align-items: center;
}

@media (orientation: portrait) and (min-height: 480px) {
  .iconPreviewWrapper {
    max-height: calc(230px + (264 * (100vh - 480px) / 288));
    max-width: calc(230px + (264 * (100vh - 480px) / 288));
  }
}

@media (orientation: portrait) and (min-height: 768px) {
  .iconPreviewWrapper {
    max-width: calc(402px + (232 * (100vh - 768px) / 254));
  }
}

@media (orientation: portrait) and (min-height: 1-24px) {
  .iconPreviewWrapper {
    max-width: 634px;
  }
}
