.app {
  text-align: center;
  height: 100%;
  position: relative;
}

.appHeader {
  background-color: #889B7C;
  font-size: calc(10px + 1.5vmin);
  color: white;
  height: 10%;
}

.heading {
  margin: 0;
}

.notHeader {
  position: relative;
  display: inline-block;
  height: 90%;
  width: 100%;
}

.iconSelectFlipperWrapper {
  position: absolute;
  z-index: 1;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  left: 10px;
  top: 10px;
  transition: transform 250ms linear;
}

.removeIconSelect {
  transform: translate(-150%);
}

.iconPreviewWrapper {
  display: flex;
  width: calc(100vw - 90px);
  margin: 20px auto;
  justify-content: space-between;
  align-items : center;
}

.icon {
  height: 55px;
  width: 55px;
  min-height: 40px;
  min-width: 40px;
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
