$black: #000000;
$grey: #7f7f7f;
$darkRed: #880015;
$lightRed: #ed261a;
$orange: #ff7f27;
$yellow: #fff200;
$darkGreen: #22b14c;
$lightBlue2: #99d9ea;
$darkBlue2: #7092be;
$lightPurple: #c8bfe7;
$white: #fff;
$silver: #c3c3c3;
$brown: #b97a57;
$pink: #ffaec9;
$gold: #ffc90e;
$almond: #efe4b0;
$lightGreen: #b5e61d;
$lightBlue1: #00a2e8;
$darkBlue1: #3f48cc;
$purple: #a349a4;
