* {
  box-sizing: border-box;
}

@font-face {
  font-family: "BioRhyme";
  src: url("./fonts/BioRhyme/BioRhyme-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  margin: 1.245rem;
}

#root {
  height: 100%;
}
