.gameScreen {
  display: grid;
  grid-template-rows: 10% 66% 20%;
  row-gap: 1.8%;
  padding: 2%;
  position: relative;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}

.gameScreenWrapper {
  height: 100%;
}

@media (orientation: landscape) {
  .gameScreenWrapper {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .gameScreen {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(3, 31.333333333%);
    grid-template-areas:
      "grid grid preview"
      "grid grid controls"
      "grid grid controls";
    row-gap: 3%;
    column-gap: 2%;
    height: 100%;
    padding: 2%;
  }
}
